<style>

  .book-table{
    border: 1px solid black;
  }
  
  .book-table-header{
    border: 1px solid black;
  }
  
  .book-table-row-cell{
    border: 1px solid black;
  }
  
  .book-table-row-cell-button{
  
  }
  
  </style>
  <div class="main">
    <table class="book-table">
      <th class="book-table-header">ID</th>
      <th class="book-table-header">Title</th>
      <th class="book-table-header">Author</th>
      <th class="book-table-header">Status</th>
      <ng-container *ngFor="let book of books; let i = index;">
        <tr class="book-table-row">
          <td class="book-table-row-cell">{{book.id}}</td>
          <td class="book-table-row-cell">{{book.title}}</td>
          <td class="book-table-row-cell">{{(book.author).toUpperCase()}}</td>
          <td class="book-table-row-cell">
            {{book.borrowers[book.borrowers.length-1].returnedDate ? "BORROWED" : "AVAILABLE"}}
          </td>
          <td class="book-table-row-cell">
            <button class="book-table-row-cell-button" (click)="book.buttonPressed = !book.buttonPressed;">
              Detail
            </button>
            <table *ngIf="book.buttonPressed" [@slideInOut]>
              <th class="book-table-header">Name</th>
              <th class="book-table-header">Borrowed Date</th>
              <th class="book-table-header">Returned Date</th>
              <ng-container *ngFor="let borrower of book.borrowers; let j = index;">
                <tr class="book-table-row">
                  <td class="book-table-row-cell">{{(borrower.name).toUpperCase()}}</td>
                  <td class="book-table-row-cell">{{borrower.borrowedDate}}</td>
                  <td class="book-table-row-cell">{{borrower.returnedDate ? borrower.returnedDate : ""}}</td>
                </tr>
              </ng-container>
            </table>
          </td>
        </tr>
      </ng-container>
      <th></th>
    </table>
  </div>
  <router-outlet></router-outlet>
  